.main {
 /* position: absolute;
    background: 2px solid black;
    background-color: #fff; 
    height: 444px;
    width: 444px;
 margin: 112px 504px ; 
justify-items: center; */

position: absolute;
    background: 2px solid black;
    background-color: rgb(177, 189, 161);
    height:300px;
    width: 600px;
    margin: 102px 504px;
    border: 10px;
    justify-items: center;
    border-radius: 17px;
}
#butn{
   position: absolute;
   position: absolute;
    margin: 31px 0 0 243px;
    justify-content: center;
}
.mb-6{
   margin: 34px 37px -19px 28px;
   justify-content: center;
}
@media (max-width:992px){
   .main{
      display: none;
   }
}