.main {
 /* position: absolute;
    background: 2px solid black;
    background-color: #fff; 
    height: 444px;
    width: 444px;
 margin: 112px 504px ; 
justify-items: center; */
   width: 30%;
   margin-left: auto;
   margin-right: auto;
   padding:40px;
    border-radius: 17px;
    border:1px solid black;
   margin-top: 20px;
   background: cornflowerblue;
   box-shadow: 2px 2px black;
}


@media (max-width:992px){
   .main{
      display: none;
   }
}