.regi{
    width: 40%;
padding:25px;
margin-top: 20px;
margin-left: auto;
margin-right: auto;
border:1px solid black;
border-radius: 15px;
background: cornflowerblue;
    box-shadow: 2px 2px black;
}
@media(max-width:992px){
    .regi{
        width: 90%!important;
    }
}